{% extends 'catalog/base.html' %}
{% load my_templatetags %}

{% block content%}
    <div class="col-12 pb-md-4">

        <a class="btn btn-primary" href="{%url 'catalog:create_product'%}">Добавить продукт</a>

    </div>
<h1>Каталог SuperMag</h1>
 {% for object in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.name}}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li> {{ object.description}}</li>
                        </ul>
                        <a href="{% url 'catalog:products_by_category' object.pk %}">
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Просмотреть товары</button>
                        </a>
                    </div>
                </div>
            </div>
          {% endfor %}

{% endblock %}