{% extends 'catalog/base.html' %}

{% block content%}
<h1>Категории</h1>
{% for object in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.name}}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li> {{ object.description}}</li>
                        </ul>
                    </div>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:products_by_category' object.pk %}">Перейти в Каталог</a>
                </div>

            </div>
          {% endfor %}

{% endblock %}